<mat-drawer-container class="example-container">
  <mat-drawer style="width: 230px; background-color: #2D62ED;" mode="side" opened>
    <div class="row  mt-5 col-12">
      <div class="col-3 ms-5 ">
        <img src="../assets/pic/factoryIconWhite.png">

      </div>
      <div class="col ">
        <h1 style="font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-26)/var(--unnamed-line-spacing-31) var(--unnamed-font-family-montserrat);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--unnamed-color-ffffff);
        text-align: left;
        letter-spacing: 0px; font-size: 21px; margin-top: 2px;
        color: #FFFFFF;
        opacity: 1;">MES</h1>

      </div>
    </div>
    <div class="row hover  col-12" style="margin-top: 80px;" routerLink="dashboard">
      <div class="col-1" style="margin-left: 38px;">
        <span style="color: #ffffffb4;" class="material-icons-outlined">
          grid_view
          </span>
      </div>
      <div class="col ms-2 " style="margin-top: 3px;">
        <p>Dashboard</p>
      </div>
    </div>
    <div class="row hover  col-12 mt-4" routerLink="resources">
      <div class="col-1" style="margin-left: 38px;">
        <img style="height: 27px;" src="../assets/pic/resources.png">
      </div>
      <div class="col ms-2 mt-2 " style="margin-top: 3px;">
        <p>Resources</p>
      </div>
    </div>
    <div class="row hover col-12 mt-4" >
      <div class="col-1 mt-1" style="margin-left: 38px;">
        <img style="height: 27px;" src="../assets/pic/manufacturing.png">
      </div>
      <div class="col ms-2 mt-2 " routerLink="manufacturing" >
        <p>Manufacturing</p>
      </div>
    </div>
    <div class="row hover col-12 mt-4" >
      <div class="col-1" style="margin-left: 40px;">
        <span style="color: #ffffffb4;" class="material-icons-outlined">
          build
          </span>
      </div>
      <div class="col ms-2 " style="margin-top: 3px;" routerLink="machines">
        <p>Machines</p>
      </div>
    </div>
    <div class="row hover col-12 mt-4" >
      <div class="col-1" style="margin-left: 40px;">
        <span style="color: #ffffffb4;" class="material-icons-outlined">
          autorenew
          </span>
      </div>
      <div class="col ms-2 " style="margin-top: 3px;">
        <p>Planning</p>
      </div>
    </div>
    <div class="row hover col-12 mt-4" >
      <div class="col-1" style="margin-left: 42px;">
        <span style="color: #ffffffb4;" class="material-icons-outlined">
          report_problem
          </span>
      </div>
      <div class="col ms-2 " style="margin-top: 3px;">
        <p>Issues</p>
      </div>
    </div>
    <div style="height: 250px;"></div>
    <div class="row hover col-12 mt-4" >
      <div class="col-1" style="margin-left: 42px;">
        <span style="color: #ffffffb4;" class="material-icons-outlined">
          settings
          </span>
      </div>
      <div class="col ms-2 " style="margin-top: 3px;">
        <p>Settingss</p>
      </div>
    </div>
    <div class="row hover col-12 mt-4" >
      <div class="col-1" style="margin-left: 42px;">
        <span style="color: #ffffffb4;" class="material-icons-outlined">
          logout
          </span>
      </div>
      <div class="col ms-2 " style="margin-top: 3px;">
        <p>Logout</p>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
